.wrapper {
  h1 {
    margin-bottom: 10px;
  }

  h2 {
    margin-bottom: 0;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
  }

  li {
    display: inline-block;
    background-color: #444;
    color: #fff;
    padding: 3px 6px;
    margin: 2px 2px;
  }
}
