.timeline {
  position: relative;
  margin-top: 4vh;
  padding: 0;
  width: 100%;

  @media (min-width: 992px) {
    padding: 2vh 1vw;
  }

  &:after {
    content: "";
    position: absolute;
    top: 3vh;
    width: 4px;
    bottom: 4vh;
    background-color: black;
    border-radius: 10px;
  }

  @media (max-width: 992px) {
    &:after {
      display: none;
    }
  }
}
